---
layout:
---

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>David Burson's Personal Website</title>

    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.css" rel="stylesheet">
    <!-- Fonts -->
    <link href="css/bootstrap.icon-large.min.css" rel="stylesheet">
    <link rel="stylesheet" href="font-awesome/css/font-awesome.min.css">
    
    <link href="http://fonts.googleapis.com/css?family=Raleway:100&v1" rel="stylesheet" type="text/css">
    <link href='http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>

    <!-- Custom CSS for the 'Full Width Pics' Template -->
    <link href="css/PersonalSite.css" rel="stylesheet">

</head>

<body>

<nav class="navbar navbar-fixed-top navbar-inverse" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="http://daverb.github.io">David Burson</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse navbar-ex1-collapse">
            <ul class="nav navbar-nav">
                <li><a href="http://daverb.github.io/about/">About</a>
                </li>
                <li><a href="http://daverb.github.io/blog">Blog</a>
                </li>
                <li><a href="http://daverb.github.io/contact">Contact</a>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="https://twitter.com/VitamnD"><i class="fa fa-twitter fa-2x"></i></a>
                </li>
                <li><a href="https://instagram.com/vitamnd/"><i class="fa fa-instagram fa-2x"></i></a>
                </li>
                <li><a href="https://github.com/daverb"><i class="fa fa-github fa-2x"></i></a>
                </li>
                <li><a href="https://linkedin.com/in/dburson/"><i class="fa fa-linkedin fa-2x"></i></a>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
</nav>

    <div class="full-width-image-1">

      <div class="intro-text">
         <h1 class="home-heading">DAVID BURSON</h1>
         <p class="skills">Tech | Travel | Thoughts</p>
	   </div>

    </div>
    <!-- /full-width-image-1 -->
    
    
    <div class="container">
      <div class="row">
            <div class="col-lg-12 section">
                <h1 class="section-heading">Latest Blog Posts:</>
                <!--p class="lead section-lead">This blog is to display the parts of my life I want to share with the world. These will mainly consist of personal technology projects and various other thoughts and opinions. Hopefully I will have some stories and photos from travels in the near future.</p>
              <!--p class="section-paragraph">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam sollicitudin auctor quam ac tempor. Cras a ante sed libero mollis sodales. Praesent fringilla, neque ut ultrices faucibus, dolor eros ultrices neque, nec bibendum arcu ipsum eget justo. Phasellus vestibulum sagittis purus laoreet varius. Pellentesque malesuada malesuada mattis. Aliquam sed porta nisi, eget suscipit dolor. Nam ipsum sapien, rhoncus eu leo eu, ultricies pellentesque tellus.</p-->
            </div>
        </div>
    </div>
    
    <div class="container">
            <ul class="post-list">
            <!-- This loops through the paginated posts -->
            {% for post in paginator.posts %}
              <h1><a href="{{ post.url }}">{{ post.title }}</a></h1>
              <p class="author">
                <span class="date">{{ post.date | date: "%b %-d, %Y" }}</span>
              </p>

              <div class="content">
                {{ post.content }}
              </div>
            {% endfor %}

              {% if paginator.total_pages > 1 %}
        <div class="pagination">
          {% if paginator.previous_page %}
            <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&laquo; Prev</a>
          {% else %}
            <span>&laquo; Prev</span>
          {% endif %}

          {% for page in (1..paginator.total_pages) %}
            {% if page == paginator.page %}
              <em>{{ page }}</em>
            {% elsif page == 1 %}
              <a href="{{ '/index.html' | prepend: site.baseurl | replace: '//', '/' }}">{{ page }}</a>
            {% else %}
              <a href="{{ site.paginate_path | prepend: site.baseurl | replace: '//', '/' | replace: ':num', page }}">{{ page }}</a>
            {% endif %}
          {% endfor %}

          {% if paginator.next_page %}
            <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Next &raquo;</a>
          {% else %}
            <span>Next &raquo;</span>
          {% endif %}
        </div>
        {% endif %}

          </ul>
    </div>
 

<!-- FOOTER -->
    <div class="container">
        <footer>
            <div class="row">
                <div class="span12 centered-text">
                    <a href="https://twitter.com/VitamnD" class='social'><i class="fa fa-twitter fa-2x blackiconcolour"></i></a>
                    <a href="https://instagram.com/vitamnd" class='social'><i class="fa fa-instagram fa-2x blackiconcolour"></i></a>
                    <a href="https://github.com/daverb" class='social'><i class="fa fa-github fa-2x blackiconcolour"></i></a>
                    <a href="https://linkedin.com/in/dburson/" class='social'><i class="fa fa-linkedin fa-2x blackiconcolour"></i></a>
                </div>
                <div class="span12 centered-text">
                    Copyright &copy; David Burson 2014
                </div>
                </div>
            </div>
        </footer>
    </div>

</div>
    <!-- /container -->

    <!-- JavaScript -->
    <script src="js/jquery-1.10.2.js"></script>
    <script src="js/bootstrap.js"></script>

</body>

</html>
